/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}

body {
    background-color: #f5f5f5;
    color: #333;
    /* Glassmorphism effect */
    }
    
.manik {
    margin: 30px;
    margin-bottom: 100px;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Section Styles */
.section {
    padding: 50px 0;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    position: relative;
}

.section h2::after {
    content: '';
    width: 100px;
    height: 3px;
    background-color: #f39c12;
    display: block;
    margin: 10px auto;
}

.section p, .section ul {
    font-size: 1.1em;
    line-height: 1.8em;
    margin: 15px 0;
    text-align: center;
}

.section ul {
    list-style-type: none;
}

.section ul li {
    margin: 10px 0;
}

/* Timeline Style */
.timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 50px;
}

.timeline-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    
}

.timeline-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.timeline-item span.year {
    font-size: 1.1em;
    color: #f39c12;
}

.timeline-item p {
    font-size: 1em;
    color: #777;
}

/* Card Style */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1em;
    color: #777;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .cards {
        flex-direction: column;
        /* Simple bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}



    }

}